%tr
  %td #{user.first_name}
  %td #{user.last_name}
  %td #{user.email_address}
  %td #{user.date_of_birth}
  %td #{user.phone_number}
  %td #{user.address.street}
  %td #{user.address.city}
  %td #{user.address.zip_code}
  %td #{user.address.country}
  %td #{user.company.name}
  %td #{user.company.address.street}
  %td #{user.company.address.city}
  %td #{user.company.address.zip_code} 
  %td #{user.company.address.country}
