<!DOCTYPE html>
<html>
  <head>
    <title>Form2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-12 text-white p-1'>
          <p class='<%='bg-success' if notice %> p-2 w-100'><%= notice %></p>
          <p class="<%= 'bg-warning' if alert %> p-2 w-100"><%= alert %></p>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
